*{
	margin:0;
	padding:0;
}
li{
	width:80px;
	height: 50px;
	
	padding:50px;
	font-size:36px;
}
body{
	background-image: url("untitled.png");
	background-size:cover;
}

#check{
	left:1200px;
	top:200px;
	position: absolute;
	border-radius: 20px;
	width:200px;
	height:100px;
	background-color: aqua;
	border-color: aquamarine;
}