* {
	margin:0px;
	padding:0px;
}
nav{
	background-color:#33b8ff;
	height: 40px;
	padding:10px;
	margin-left:16%;
}
nav a{
	background-color: silver;
	display:inline;
	padding:10px;
	color: black;
	border: 2px solid white;
	
}
a:hover{
	background-color:#33b8ff;
}
#hoi{
	text-align:center;
}
#below{
	position:relative;
	top: 100px;
}
body{
background-color:#33b8ff;

    
    background-repeat: no-repeat;
}
#ding{
	background-image: linear-gradient(to bottom, #33b8ff, #33b8ff 20%, #80d4ff 70%, #80d4ff);
}
.container{
		flex-wrap: wrap;
		flex-direction:colomn;
		display:flex;
}
.row2{
	display:flex;
	margin: auto;
}
.row{
	margin: auto;
	

}
.mid-4{ 
	text-align:center;
	max-width:20%;
	margin-left:auto;
	margin-right:auto;
	background-image: linear-gradient(to bottom, #33b8ff, #33b8ff 20%, #80d4ff 70%, #80d4ff);
	margin-top:-60px;
	flex:1;
	
	
}
.after-6{
	max-width:50%;
	text-align:align;
	position:static;
margin:0px auto;
padding:0px 20px;
flex:1;
}
h1{
	text-align:center;
	color: white;
}
#ts{
	height: 480px;
	width: 640px ;
	border-radius: 2500px;
	margin:auto;
}
p{ 	

	color: solid black;
	font-size: 15px;
	
}
a{
	color:blue;
	
}
.op{
	max-width:550px;
	padding:5px;
	margin: auto ;
}
article{
	width:48%;
	margin: auto ;
	padding:40px;
}
img{
	max-width:600px;
}
