* {
	margin:0px;
	padding:0px;
}
nav{
	background-color:#33b8ff;
	height: 40px;
	padding:10px;
	margin-left:16%;
}
nav a{
	background-color: silver;
	display:inline;
	padding:10px;
	color: black;
	border: 2px solid white;
	
}
a:hover{
	background-color:#33b8ff;
}
#hoi{
	text-align:center;
}
#below{
	position:relative;
	top: 100px;
}
body{
background-color:#33b8ff;

    
    background-repeat: no-repeat;
}
#ding{
	background-image: linear-gradient(to bottom, #33b8ff, #33b8ff 20%, #80d4ff 70%, #80d4ff);
	max-width: 1000px;
	margin:0 auto;
}
h1{
	text-align:center;
	color: white;
}
#ts{
	height: 480px;
	width: 640px ;
	border-radius: 2500px;
	margin:auto;
}
p{ 	

	color: solid black;
	font-size: 15px;
	
}
a{
	color:blue;
	
}

article{
	width:40%;
	margin: auto ;
	padding:40px;
}
img{
	max-width:500px;
}
