<!DOCTYPE html>
<html>
<head>
	<title>BASKETBALLL</title>
	
	<link rel="stylesheet" type="text/css" href="layout.css">

</head>
<body>

<div class="large">
	<div class="head">
		<h1>BASKETBALLL</h1>
	</div>
	<ul >
		<li><a href="index.html"> Home</a></li>
		<li><a href="hobby.html">Over mijn hobby</a></li>
		<li><a href="index.html">Nieuws</a></li>
	</ul>
	</div>
	<h2>Starten en finishen</h2>
	<p>Ondanks dat er best wel tegenslag kwam -Mohamed Kherrazi er al uit voor minstens twee wedstrijden, Arvin Slagter nu al snel eruit met een verrekte knie- was bij onze Orange Lions weer hetzelfde vertrouwen

 van ‘Wij weten wat we moeten doen, we weten dat we kunnen winnen, sterker zijn …’ dat ook al steeds zichtbaarder werd in Denemarken vorige week zaterdag, en afgelopen woensdag in Duitsland. Nederland is het beste team in een Groep-B waar iedereen er voetstoots vanuit ging dat Duitsland niet te kloppen zou zijn. Dat zijn ze dus wel! Kijk niet gek op als ook Oostenrijk a.s. woensdag wint in Duitsland …

Nederland moet nu eerst tegen Denemarken -GEEN Walkover! Ik zeg het nog maar eens; de winst op Duitsland bewijst dat- in een hopelijk uitpuilende, en hete, kolkende zaal op vier overwinningen komen. Dat is niet bij voorbaat genoeg voor Kwalificatie voor EuroBasket 2017. Dus Nederland moet die wedstrijd winnen, en dat kan ook als de ploeg doorgaat op de manier waarop ze bezig is. Maar ieder team heeft steun van het thuispubliek nodig! Dus kom, neem trommels, ratels en handclappers mee, en vooral: steun het team vocaal, er gaat niets boven een massa joelend, opjuinend en huilend thuispubliek …

En dan? Nou dat moeten we nog even afwachten, maar het ziet er naar uit dat die laatste thuiswedstrijd zaterdag tegen Duitsland hoe dan ook belangrijk zal zijn.

Een echte Nederland vs. Duitsland dus! Met een goede kans op Winst; wie wil daar niet bij zijn en zijn/haar steun luid en duidelijk laten horen?!?

Een noot bij de wedstrijden tot nu toe: het lijkt wel of dit Oranje de tegenstander in het eerste kwaart nog een beetje het gevoel wil geven dat Nederland te pakken is -zo op het eerste gezicht wordt er in die periode steeds best aardig gespeeld- om daarna de duimschroeven steeds verder aan te draaien. En nog belangrijker dan goed beginnen, is dus goed eindigen! En dat doen de Orange Lions dus elke keer, al kwam de finale push thuis tegen Oostenrijk dus net iets te laat; een kwestie van ‘fine-tuning’?
</p>
	</body>
</html>