<!DOCTYPE html>
<html>
<head>
	<title>BASKETBALLL</title>
	
	<link rel="stylesheet" type="text/css" href="layout.css">

</head>
<body>

<div class="large">
	<div class="head">
		<h1>BASKETBALLL</h1>
	</div>
	<ul >
		<li><a href="index.html"> Home</a></li>
		<li><a href="hobby.html">Over mijn hobby</a></li>
		<li><a href="index.html">Nieuws</a></li>
	</ul>
	</div>
	<h2>Trots, blij, en nu</h2>
	<p>Deze Column gaat niet (alleen) over mij, maar -veel belangrijker- over al onze Oranje Basketball Mannen/Orange Lions. Maar ik schrijf graag vanuit mijn persoon, dus het gaat ook een beetje over mij…
<br>

Ik had er via mijn Blog en Columns flink aan getrokken -want ik vind het nog veel te stil rond Oranje Basketball- of het effect heeft weet ik niet; ik hoop het maar. Vlak voor de wedstrijd was ik ineens even doodmoe; alsof alles uit mijn tenen was gekomen. Maar toen de eerste bal erin ging gaf Oranje Basketball mij gelijk weer energie…
<br>
Trots!
<br>
‘Trots op Nederland’ is een -in ieder geval bij mij- beetje een besmette term geworden. Daarom is het wel prettig om de namen Oranje Basketball en Orange Lions te kunnen gebruiken. Want wat mogen team en staf, maar zeker ook het hele Nederlandse Basketball Trots zijn op dit team. Om hun harde werk in een beperkte situatie, op de prestaties en het spel, maar zeker ook op dit team; een echt en hecht team, waarin de gun-factor groot is, waarin er iedere keer iemand anders opstapt en de kar trekt als het bij een ander even wat minder gaat. En waarin er ook mensen zitten die niet of nauwelijks van de bank komen -of de ene keer wel en dan de andere weer niet- maar wel gewoon doorgaan.
<br>
Het Nederlandse Basketball mag ook trots zijn op een groep mensen -spelers, staf en organisatie- die zo hard werken, dat ‘Dat andere Oranje’ -ik bedoel natuurlijk de voetballers- zich waarschijnlijk niet eens voor kunnen stellen hoe hard, terwijl de voorzieningen en condities onvergelijkbaar beter zijn bij de voetballers. Het is dan ook moeilijk te vatten hoeveel geld er door commerciële partijen en publiek wordt stukgeslagen op een team waarvan de laatste twee jaar -op zijn zachtst gezegd- al dat gespendeerde geld niet helemaal terugkomt in resultaten en genieten voor ‘de klanten’…
<br>
Maar het meest trots mag het Nederlandse Basketball zijn op dit team, omdat het functioneert zoals het ook in de samenleving zou moeten functioneren; het team heeft een flink contingent spelers met Surinaamse Roots, met Marokkaanse, met Servische, Franse, Amerikaanse en natuurlijk Nederlandse. Maar dat maakt allemaal niet uit; ik denk dat de spelers en staf dat nauwelijks meer zien, tenminste niet in negatieve zin, en al helemaal niet als het om Basketball gaat.
 Iedereen is Oranje, speelt en vecht voor Oranje.<br>
 Daaraan zouden heel veel mensen in Nederland een voorbeeld kunnen nemen!<br>

Blij!
<br>
Natuurlijk, ik was/ben ook erg blij, ik neem aan dat iedere Nederlander die erbij was, en velen thuis, dat zijn. Maar dat is niet waarom ik dit schrijf. De reden daarvoor waren de mannen van het House of Sports Social Mediateam -Bas Scharwachter en Dimitri Koopman-
 die in Horsens, Denemarken terugkwamen achter de perstafel na een interviewtje met Charlon kloof te hebben gedaan. Ze hadden beiden ‘een smile van oor tot oor’ nadat ze met Kloof hadden gesproken. Ze zeiden iets in de trend van “Die gozer is zo aanstekelijk positief en blij; het lijkt Churandy Martina wel!”
<br>
De Curaçaose Sprinter is inmiddels een soort van ‘Nationale Vertederaar’, al zullen er ook (groepen) mensen zijn die andere ideeën hebben. Maar hij is in ieder geval een ontzettend goed voorbeeld voor velen -vooral voor jonge getalenteerde sporters -met zijn “Ik ben Blij! Ik heb alles gegeven…” en zijn prachtige en zich steeds verder ontwikkelende vorm van soort van intelligente humor…”Mijn vader is cool, nog positiever dan ik..” Pauw: “Onze premier Rutte zei ‘ik sta bekend als een positief mens, maar Churandy is nog positiever’. Martina “Dan is die derde…”
<br>
Maar Charlon Kloof moet niet gezien worden als ‘Churandy de Tweede’, maar als ‘Charlon de Eerste’; hij is nu al ontzettend goed en belangrijk, maar ik verwacht dat hij nog wel even door zal groeien -the Sky zou heel goed the Limit kunnen blijken te zijn voor hem, als hij doorgaat op dezelfde weg als hij al een tijd bewandelt. Als er geen ongelukken gebeuren zal hij straks gezien worden als ‘de Beste Nederlandse Pointguard Ooit’, daar ben ik van overtuigd. Dus het zou heel mooi zijn als er een sponsor zou komen die zijn potentie als goedlachse, intelligente, hard werkende topsporter zou herkennen en hem persoonlijke -of nog beter: hem en met hem het hele Orange Lions-team, à la dirk Nowitzki in Duitsland, n.b. DiBa, de Nederlandse ING-bank(!)- een contract aanbiedt, waarvan TV-reclame-spotjes een deel uitmaken; dat zou op termijn zomaar de doorbraak bij het grote publiek kunnen veroorzaken voor het Nederlandse Basketball.
<br>
Nu zullen er mensen zijn die mij voor gek verklaren, maar dat deden sommigen ook toen ik zei dat Nederland een keer, en waarom geen twee keer, van Duitsland kon gaan winnen… Ik schreef in het verleden al meerdere maken over het sponsorship van ING van Dirk Nowitzki en het hele Duitse Basketball -o.a. onder de titel ‘Dirk en de Nederlandse Leeuw’- het is natuurlijk opmerkelijk dat het vrijwel ongesponsorde en vergeleken met Duitsland straatarme Nederlandse Oranje Basketball Team, de DiBa-Duitser pakt in eigen land> Onder dit verhaal een column van Leon Kersten die die verder uitdiept. Bekijk vooral de zeer ludieke actie -een teamfoto van Oranje bij het DiBa-sponsorloge op de speelvloer in de Koning Pils Arena in Oberhausen (moeten we dat stukje Duitsland niet gewoon annexeren?).
<br>
Dus ik hoop dat commercieel Nederland Charlon snel ontdekt als een van de supersterren van de Nederlandse sport, dat hoop ik trouwens ook voor Oranje Basketball als geheel en al die andere Orange Lions ook. Ze verdienen het!
<br>
Meer prachtige foto’s van Charlon Kloof en de andere Orange Lions in de wedstrijd uit bij Duitsland vind je — Hier
<br>
</p>
	</body>
</html>