<!DOCTYPE html>
<html>
<head>
	<title>BASKETBALLL</title>
	
	<link rel="stylesheet" type="text/css" href="layout.css">

</head>
<body>

<div class="large">
	<div class="head">
		<h1>BASKETBALLL</h1>
	</div>
	<ul >
		<li><a href="index.html"> Home</a></li>
		<li><a href="hobby.html">Over mijn hobby</a></li>
		<li><a href="index.html">Nieuws</a></li>
	</ul>
	</div>
	<h2>Lelystads basketbaltoernooi sterker dan ooit met 3 landskampioenen</h2>
	<p>In sporthal De Rietlanden 2 wordt op zondag 11 september de 6e editie van het basketbaltoernooi voor jongensteams verspeeld. Het organiserende Flevo Musketiers is er trots op dat er weer een volgende stap is gezet in de sterkte van de bezetting. Voor het eerst van het bestaan zullen maar liefst 3 landskampioenen naar Lelystad komen.

<br>

Zo’n 30 teams gebruiken deze dag als laatste test voor het basketbalseizoen dat voor de meesten op 17 september start. De teams zijn in 4 leeftijdsklassen verdeeld: in de ochtend de U12 en 14, in de middag U 16 en 18/20. De 5e editie leverde uiteindelijk 2 landskampioenen op. In de U14 klasse werd het Helderse Noordkop kampioen en in de U18-klasse wat dat Lokomotief Rijswijk. Lokomotief is dit jaar weer van de partij. Dit jaar is landskampioen BS Leiden deelnemer bij de U12 en in de U18/20-klasse strijdt het Amsterdamse Apollo U20 eveneens als landskampioen mee.
<br>
Beter Worden<br>
 Beter worden staat centraal Voor alle deelnemende teams geldt dat zij het toernooi vooral gebruiken om beter te worden. De overwinning van het toernooi is dan ook niet het belangrijkste, maar meer een leuke bijkomstigheid. Ruim 75% van de deelnemers speelt op het hoogste landelijke niveau. De andere teams een klasse daaronder. Voor coaches is vooral de sterke bezetting een belangrijke factor voor deelname. Unieke kans voor leden Voor de leden van Flevo Musketiers is het een unieke kans om te zien en te ervaren wat het betekent om op landelijk topniveau te basketballen. De vereniging bestaat dit seizoen alleen uit jeugdteams.
<br>
Het aantal teams is in de afgelopen jaren gestaag gegroeid. Voor het eerst zijn er in de leeftijd van U10 tot en met U16 in totaal 10 goed gevulde teams. Zowel de U14-1 als de U22 spelen op het op één na hoogste niveau van Nederland en zullen ook deelnemen aan het toernooi . Daarbij zullen zij er alles aan doen om één of meer teams te verrassen en op zijn minst het vuur aan de schenen te leggen.
<br>
Ook voorbereiding voor scheidsrechters<br>
 Omdat niet alleen spelers, maar ongetwijfeld ook scheidsrechters zich op het nieuwe seizoen willen voorbereiden biedt Flevo Musketiers ook hen de mogelijkheid om deel te nemen. Voor scheidsrechters die normaal al landelijk fluiten is dit een mooie gelegenheid om ritme op te doen op een goed niveau. Voor scheidsrechters die namens clubs fluiten en tenminste een E-diploma hebben is dit een mooie kans om een aantal landelijk spelende teams te begeleiden. Men kan zich aanmelden bij Marc Laan: mhlaan@zonnet.nl De u12 en 14-teams spelen van 9 tot 14 uur. De korte pauze is gevuld met een streetdancedemonstratie. Daarna nemen om 14.30 uur de U16, 18 en 20-teams het over. De laatste wedstrijden beginnen om 19.00 uur.


</p>
	</body>
</html>