<!DOCTYPE html>
<html>
<head>
	<title>BASKETBALLL</title>
	
	<link rel="stylesheet" type="text/css" href="layout.css">

</head>
<body>

<div class="large">
	<div class="head">
		<h1>BASKETBALLL</h1>
	</div>
	<ul >
		<li><a href="index.html"> Home</a></li>
		<li><a href="hobby.html">Over mijn hobby</a></li>
		<li><a href="index.html">Nieuws</a></li>
	</ul>
	</div>
	<h2>Oranje Basketball 2016 - Zing-Vecht-Huil-Bid-Lach-Werk En Bewonder</h2>
	<p>Aart Dekker volgt het Nationale Mannen Basketball Team al zowat 40 jaar op de voet. Hij ziet wel muziek in de Kwalificatie-cyclus van 2016 en trekt de lijn van verleden naar heden en toekomst volgens een bekend Nederlands lied.
<br>

Maar hij trekt ook de conclusie dat Oranje Basketball de steun van iedere Nederlandse basketball-liefhebber meer dan ooit nodig heeft de 5-Mei-Hal moet eens te meer omgetoverd worden in de 5-Mei-Hel, te beginnen aanstaande Woensdag tegen Oostenrijk. Fans die denken ik kom de laatste wedstrijd tegen Duitsland wel eens kijken, spelen volgens hem met vuur 
<br>
Oranje Basketball 2016  Zing-Vecht-Huil-Bid-Lach-Werk En Bewonder
<br>
De laatste 12 maanden zijn in ieder geval voor mij- omgevlogen, en zeker niet allemaal in positieve zin, maar iets minder dan een jaar geleden was ik en met mij een naar Nederlands begrip aanzienlijke groep echte Nederlandse Basketball-liefhebbers in blije afwachting van datgene waar we 26 jaar op hadden moeten wachten; het begin van EuroBasket 2015 het EK met een Oranje Basketballteam.
 Het hele seizoen daaraan voorafgaand bouwde dat gevoel van Het komt eraan! zich op, en de week in Zagreb, waar Nederland in de groepsfase speelde, viel ook zeker niet tegen. Sterker nog: het smaakte naar meer!
<br>
Hadden we sinds eind 2012 kortstondig wat uitbarstingen van media-aandacht gehad naar aanleiding van de beslissing van het NBB-Bestuur om het Nationale Mannen Team financieel te schrappen -negatief in het nieuws dus-, de zomer erna vanwege het sterretjes-incident Kherrazi en Cunningham, dat bleek 1 speler met een dubbel paspoort te veel, volgens FIBA nogmaals negatief, en rond het wonder van de Zomer van 2014 heel positief en rond de lancering van het NMT-verhaal de Ex-Internationals die Oranje Basketball aan gingen pakken ook al positief
 In de aanloop naar EuroBasket 2015 was het echt goed raak coach Toon van Helfteren zei op een moment meesmuilend dat hij meer cameraploegen in de rij had staan, dan dat er in de jaren ervoor bij elkaar belangstelling hadden van de Oranje Mannen. Het leek wel of alle media ineens het Nederlandse Basketball herontdekten.
 Maar het was dan ook een echte Cinderella-story de Wederopstanding van Oranje Basketball van hopeloosheid naar succes, en dat alles in slechts iets meer dan 24 maanden. 
<br>
Ik weet niet of iemand een complete knipselmap van alle Media-aandacht heeft bijgehouden, maar het moet een aardig portfolio zijn; iets waar je wat mee zou moeten kunnen naar de toekomst, zo verwachtte ik tenminste
</p>
	</body>
</html>