<!DOCTYPE html>
<html>
<head>
	<title>BASKETBALLL</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="layout.css">

</head>
<body>

<div class="large">
	<div class="head">
		<h1>BASKETBALLL</h1>
	</div>
	<ul >
		<li><a href="index.html"> Home</a></li>
		<li><a href="index.html">Over mijn hobby</a></li>
		<li><a href="index.html">Nieuws</a></li>
	</ul>
	<div class="main">

	<div class="big">
	
		<div class="nwsa">
			<div class="nws1">
				<figure class="pic">
					<img src="ad1.jpg" class="picu" alt="ad1">
				</figure>
				<article class="artic">
					<h3>Starten en finishen</h3>
					<p>Ondanks dat er best wel tegenslag kwam Mohamed Kherrazi er al uit voor minstens twee wedstrijden, Arvin Slagter nu al snel eruit met een verrekte knie was bij onze Orange
					Lions weer hetzelfde vertrouwen 
					<a href="1.html" target="_blank">lees meer ></a><p>
				</article>
			</div>
			<div class="nws2">
				<figure class="pic">
					<img src="ad2.jpg" class="picu" alt="ad2">
				</figure>
				<article class="artic">
					<h3>Trots, blij, en nu</h3>
					<p>Deze Column gaat niet (alleen) over mij, maar veel belangrijker over al onze Oranje Basketball Mannen/Orange Lions. Maar ik schrijf graag vanuit mijn persoon,
					dus het gaat ook een beetje over mij
					<a href="2.html" target="_blank">Lees meer ></a></p>
				</article></div>
		</div>
		<div class="nwsb">
			<div class="nws3">
				<figure class="pic">
					<img src="ad3.jpg" class="picu" alt="ad3">
				</figure>
			<article class="artic">
				<h3>Lelystads basketbaltoernooi sterker dan ooit met 3 landskampioenen</h3>
				<p>In sporthal De Rietlanden 2 wordt op zondag 11 september de 6e editie van het basketbaltoernooi voor jongensteams verspeeld. Het organiserende Flevo Musketiers 
				is er trots op dat er weer een volgende stap is gezet in de sterkte van de bezetting. Voor het eerst van het bestaan zullen maar liefst 3 landskampioenen naar Lelystad komen.
				<a href="3.html" target="_blank">Lees meer ></a></p>
			</article>
			</div>
			<div class="nws4">
				<figure class="pic">
					<img src="ad4.png" class="picu" alt="ad4">
				</figure>
			<article class="artic">
				<h3>Oranje Basketball 2016 - 'Zing-Vecht-Huil-Bid-Lach-Werk En Bewonder'</h3>
				<p>Aart Dekker volgt het Nationale Mannen Basketball Team al zowat 40 jaar op de voet. Hij ziet wel muziek in de Kwalificatie-cyclus van 2016 en trekt de lijn
				van verleden naar heden en toekomst volgens een bekend Nederlands lied.
				<a href="4.html" target="_blank">Lees meer ></a></p>
			</article>
		</div>
		
	</div>
	</div>
		<aside class="Haaalo">
			<div class="ad">
				<a href="http://www.nike.com/us/en_us/c/jordan" target="_blank"><img src="ad5.jpg" class="adv" alt="ad5"></a>
			</div>
			<div class="ad">
				<a href="http://www.nike.com" target="_blank"><img src="ad6.jpg" class="adv" alt="ad6"></a>
			</div>
		</aside>
	</div>
</div>
<footer>
</footer> 
</body>
</html>